body {
  background-color: #ccccff;
}
  
/* Add a black background color to the top navigation */
.navBar {
  background-color:  #003cb3;
  overflow: hidden;
}
    
/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 25%;
  font-size: 200%;
}
    
/* Change the color of links on hover */
.navBar a:hover {
  background-color: #99b9ff;
  color: white;
}
    
/* Add a color to the active/current link */
.navBar a.active {
  background-color: #4CAF50;
  color: white;
}

h2 {
  text-align: center;
}

/*style for tables*/

#team1 {
  width: 40%;
  display: inline-block;
  margin: 0 2% 0 7%;
}

#team2 {
  width: 40%;
  display: inline-block;
  margin: 0 7% 0 2%;
}

#start {
  width: 100%;
}

#bench {  
  width: 100%;
}

#startTable {
  background-color: white;
  width:100%;
}

#startTable tr:nth-child(odd) {
  background-color: #dddddd;
}

#benchTable {
  background-color: white;
  width:100%;
}

#benchTable tr:nth-child(odd) {
  background-color: #dddddd;
}