body {
    background-color: #ccccff;
}
  
/* Add a black background color to the top navigation */
.navBar {
    background-color:  #003cb3;
    overflow: hidden;
}
    
/* Style the links inside the navigation bar */
.navBar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 25%;
    font-size: 200%;
}
    
/* Change the color of links on hover */
.navBar a:hover {
    background-color: #99b9ff;
    color: white;
}
    
/* Add a color to the active/current link */
.navBar a.active {
    background-color: #4CAF50;
    color: white;
}

h2 {
    text-align: center;
}

#searchBar {
    width: 80%;
    margin: 2% 10% 2% 10%;
    background-color: white;
}

#buttonTable {
    background-color: white;
    width: 100%;
}

